<div class="categories">
  <div class="applied-filters">
    <span>Applied Filters:</span>
    <span class="filter-item">e-Voucher <span class="close-btn">&times;</span></span>
    <span class="filter-item">clear filters <span class="close-btn">&times;</span></span>
  </div>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-subtitle>Categories</mat-card-subtitle>
    </mat-card-header>

    <mat-accordion multi>
      <mat-expansion-panel togglePosition="before">
        <mat-expansion-panel-header>
          <mat-panel-description>
            e-Voucher
          </mat-panel-description>
          <fa-icon style="color: #ff0000;" [icon]="faCheckCircleSolid"></fa-icon>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel togglePosition="before">
        <mat-expansion-panel-header>
          <mat-panel-description>
            Products
          </mat-panel-description>
          <fa-icon [icon]="faCheckCircleOutline"></fa-icon>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel togglePosition="before" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-description>
            Evergreen
          </mat-panel-description>
          <fa-icon [icon]="faCheckCircleOutline"></fa-icon>

        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel togglePosition="before" [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-description>
            Fashion & Retail
          </mat-panel-description>
          <fa-icon [icon]="faCheckCircleOutline"></fa-icon>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>